.App {
    margin: 0;
    padding: 0;
    height: 89.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b7a7a;
}

.link{
    color: white;
}

.link:hover{
    color: #46b0b0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    font-size: 50px;
    margin: 0px;
    height: 100px;
    width: 100vw;
    background-color: #0d4f4f;
}

.comment{
    margin-top: 10px;
    padding: 0;
    display: flex;
    height: 70px;
    width: 600px;
    font-size: 15px;
    border-radius: 15px;
}

.text{
    height: 70px ;
    width: 580px;
    background-color: #46b0b0;
    border-radius: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    padding-left: 18px;
    height: 100px;
    width: 500px;
    border-radius: 15px;
    background-color: #46b0b0;
    font-size: 35px;
    border: none;
}

.butt{
    margin-left: 10px;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    background-color: #46b0b0;
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s;
}

.butt:hover{
    opacity: 2;
}

.commentButt{
    margin-left: 10px;
    margin-top: 15px;
    border: none;
    height: 70PX;
    width: 100px;
    border-radius: 15px;
    background-color: #46b0b0;
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s;
}

.commentButt:hover{
    opacity: 2;
}

